// shirtDesignerSideBar
.shirtDesignerSideBar {
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    border-right: 1px solid #000;
    
}
.startModal {
    .Note {
       color: #333;
    }
 
    .radioSelection {
       visibility: hidden;
       position: absolute;
       
       &[type='radio']:checked ~ .innerDesignSelection {
          position: relative;
          .checkmark {
            display: block;
            text-align: center;
            //  vertical-align: middle;
             position: absolute;
            //  font-family: FontAwesome;
             top: -10%;
             font-size: 18px;
            //  line-height: 1.7;
            font-weight: bold;
             right: -15%;
             z-index: 2;
             background: #fff;
             width: 30px;
             border: 2px solid #000;
             border-radius: 50%;
             height: 30px;
          }
       }
    }
 
    
    .DesignSelection {
       margin: 10px;
       width: 150px;
 
    //    @include xxsm {
    //       width: 130px;
    //    }
 
    //    h6 {
    //       @include xxsm {
    //          font-size: 13px;
    //       }
    //    }
 
       // height: 140px;
       padding: 5px;
       border: 2px solid #000;
       cursor: pointer;
    }
    .checkmark {
        display: none ;
    }
 }
.clr {
   width: 50px;
   height: 50px;
   border-radius: 50%;
   

} 
.shirt-design {
   min-height: 70vh;
   position: relative;
   
   .collars {
      width: 140px !important;
      height: auto;
      display: block;
      position: absolute;
      z-index: 1;

      // @include smtoxtra {
      //    top: 0%;
      //    left: 51%;
      //    width: 150px !important;
      // }

      top: 14%;
      left: 45%;
      // transform: translate(-50%, -50%);

      // @include minDesktopLower {
      //    width: 160px !important;
      // }
   }
   .cuffs {
      width: fit-content !important;
      height: auto !important;
      display: block;
      top: 66%;
      position: absolute;
      left: 39%;
      // @include maxMinDesktop {
      //    left: 16.6%;
      // }

      // @include xxsm {
      //    left: 13%;
      // }

      svg {
         width: 50px;

         // @include smtoxtra {
         //    width: 50px !important;
         // }
      }

      .cuff2nd {
         &:nth-child(2) {
            // @include minDesktopLower {
            //    margin-left: 245px !important;
            // }

            margin-left: 212px;

            // @include maxMinDesktop {
            //    margin-left: 189px;
            // }
         }
      }
   }
   .ShirtSvg {
      height: 400px;
   
      // @include maxMinDesktop {
      //    height: 350px;
      // }
   
      // @include minDesktopLower {
      //    height: 450px;
      // }
   }
}

.cloneable-element {
   position: relative;
   width: 100%;
   height: 100%;
   &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
   }
}
 