@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
   font-family: 'Poppins', sans-serif;
   letter-spacing: 1px !important;
}
h1, h2, h3, h4, h5, h6 {
   font-family: 'Poppins', sans-serif;
   font-weight: 600;
   letter-spacing: 1px !important;
}

// shirtDesignerSideBar
.shirtDesignerSideBar {
    position: fixed;
    left: 0;
    width: 20%;
    height: 100%;
    padding: 20px 10px;
   //  border-right: 1px solid #000;
    .card {
      border: 0 !important;
      .card-header {
         margin: 5px 0;
         border-radius: 20px !important;
         button {
            padding: 0 !important;
         }
       }
    }
    .col-lg-6 {
      margin: 5px 0;
      padding: 0 10px;
    }
    .cloneable-element {
      &.cuffs-elems {
         padding: 5px;
      }
      border-radius: 20px;
      position: relative;
      width: 100%;
      // for media query
      // transform: translateX(-300px);
      height: 100%;
      box-shadow: 0px 8px 10px 3px #e7e7e7;
      &::after {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
      }
   }
    
    
}
.startModal {
    .Note {
       color: #333;
    }
 
    .radioSelection {
       visibility: hidden;
       position: absolute;
       
       &[type='radio']:checked ~ .innerDesignSelection {
          position: relative;
          .checkmark {
            display: block;
            text-align: center;
            //  vertical-align: middle;
             position: absolute;
            //  font-family: FontAwesome;
             top: -10%;
             font-size: 18px;
            //  line-height: 1.7;
            font-weight: bold;
             right: -15%;
             z-index: 2;
             background: #fff;
             width: 30px;
             border: 2px solid #000;
             border-radius: 50%;
             height: 30px;
          }
       }
    }
 
    
    .DesignSelection {
       margin: 10px;
       width: 150px;
 
    //    @include xxsm {
    //       width: 130px;
    //    }
 
    //    h6 {
    //       @include xxsm {
    //          font-size: 13px;
    //       }
    //    }
 
       // height: 140px;
       padding: 5px;
       border: 2px solid #000;
       cursor: pointer;
    }
    .checkmark {
        display: none ;
    }
 }
.clr {
   width: 50px;
   height: 50px;
   border-radius: 50%;

} 
#LandingSection {
   width: 100%;
   position: relative;
   // height: 100vh;
   .LandingSection__content {
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      margin-top: 30px;
      border-radius: 30px;
      .lnd_content {
         // position: absolute;
         // top: 50%;
         // left: 50%;
         // transform: translate(-50%, -50%);
         padding: 50px 10px;
         width: 100%;
         text-align: center;
         position: relative;
         h1 {
            font-size: 40px;
            color: #fff;
            font-weight: 700 !important;
         }
         p {
            font-size: 16px;
            color: #fff;
         }
         
      }
      &::before {
         content: "";
         position: absolute;
         border-radius: 30px;
         top: 0;
         left: 0;
         width: 100%;
         height: 100%;
         background: rgba(0, 0, 0, 0.3);
      }
   }
}
.shirt-design {
   // min-height: 70vh;
   height: 100%;
   position: relative;
   .btns {
      position: absolute;
                  width: 12px !important;

                  // @include maxMinDesktop {
                  //    width: 10px !important;
                  //    left: 48.5% !important;
                  // }

                  // height: 420px !important;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);

                  .btnContainerInner {
                     padding-bottom: 30px;

                     // @include maxMinDesktop {
                     //    padding-bottom: 22px;
                     // }

                     // @include minDesktopLower {
                     //    padding-bottom: 35px;
                     // }
                  }

                  .removeButtons {
                     left: 10px;
                     z-index: 1;
                     top: 5px;
                  }
   }
   .collars {
      width: 140px !important;
      height: auto;
      display: block;
      position: absolute;
      z-index: 1;

      // @include smtoxtra {
      //    top: 0%;
      //    left: 51%;
      //    width: 150px !important;
      // }

      top: 22.5%;
      left: 50%;
      transform: translate(-50%, -50%);

      // @include minDesktopLower {
      //    width: 160px !important;
      // }
   }
   .cuffs {
      width: fit-content !important;
      height: auto !important;
      display: flex;
      top: 68%;
      position: absolute;
      transform: translate(-50%,-50%);
      left: 50%;
      // @include maxMinDesktop {
      //    left: 16.6%;
      // }

      // @include xxsm {
      //    left: 13%;
      // }

      svg {
         width: 50px;

         // @include smtoxtra {
         //    width: 50px !important;
         // }
      }

      .cuff2nd {
         &:nth-child(2) {
            // @include minDesktopLower {
            //    margin-left: 245px !important;
            // }

            margin-left: 212px;

            // @include maxMinDesktop {
            //    margin-left: 189px;
            // }
         }
      }
   }
   .ShirtSvg {
      height: 400px;
   
      // @include maxMinDesktop {
      //    height: 350px;
      // }
   
      // @include minDesktopLower {
      //    height: 450px;
      // }
   }
}



// @Product Card Design
.productCard {
   border: 0;
   .productCardContent {
      padding: 5px !important;
   }
   .card-link {
      box-shadow: -1px 4px 20px 10px #eeeeee;
      border-radius: 15px !important;

      .card-image {
         border-radius: 15px !important;
         // min-height: 210px;
         max-height: 200px;
      }   
   }
}

.productImage {
   border-radius: 20px !important;
}

.btn-ps-top {
   position: absolute;
   top: 10%;
   right: 5%;
   width: 100px;
   button {
      width: 100%;
   }
}